@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");

header {
  background: #3e4242;
  background-image: url("../images/header/BrandBarBackground.png");
  padding: 30px 10px;
  .header-logo {
    align-items: flex-end;
    img {
      max-width: 250px;
    }
    span {
      padding-bottom: 0px;
      padding-left: 35px;
      color: #fff;
      font-size: 16px;
    }
  }
  .user-nav {
    color: #fff;
    ul {
      margin-bottom: 0;
      li {
        padding-right: 0px;
        i {
          font-size: 30px;
        }
        img {
          max-width: 60px;
        }
      }
      li:last-of-type {
        padding-right: 20px;
      }
      li.notification {
        position: relative;
        button.dropdown-item {
          padding: 10px 15px !important;
        }
        span {
          background: #cb351d;
          border: 2px solid #fff;
          border-radius: 50%;
          padding: 3px;
          bottom: 14px;
          left: 20px;
          position: relative;
          font-size: 15px;
          margin-bottom: -40px;
          display: block;
          line-height: 1.5;
          height: 30px;
          width: 30px;
        }
        .dropdown-menu.show {
          transform: translate3d(-30%, 33px, 0px) !important;
        }
        .show + span {
          display: none;
        }
        .dropdown {
          button {
            padding: 0;
            background: transparent !important;
            border: 0px;
            padding: 0px;
            box-shadow: none !important;
            outline: none;
            &:after {
              display: none;
            }
          }
        }
      }
      li.toggle-icon {
        padding-top: 8px;
        padding-left: 10px;
        cursor: pointer;
        span {
          height: 2px;
          width: 30px;
          background: #fff;
          display: block;
          margin-bottom: 7px;
          transition: all ease-in-out 0.4s;
          &:nth-of-type(3) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

// Theme Menu Styling
.theme-menus {
  position: fixed;
  background: #fff;
  height: 100%;
  width: 350px;
  z-index: 999;
  padding: 100px 60px 0 80px;
  right: -360px;
  top: 0;
  transition: all ease-in-out 0.4s;
  transition-timing-function: ease-in-out;
  transition-timing-function: cubic-bezier(0.69, 0, 0.19, 1);
  ul {
    li {
      margin-bottom: 50px;
      a {
        font-weight: bold;
        font-size: 32px;
        line-height: 37px;
        color: #000;
        text-transform: uppercase;
        transition: all ease-in-out 0.4s;
        &:hover{
          color: #8b5d8e;
        }
      }
    }
  }
}
.menu-open .menu-toggle span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 9px;
  position: relative;
  background: #000000;
}
.menu-open .menu-toggle span:nth-of-type(2) {
  transform: rotate(-45deg);
  background: #000000;
}
.menu-open .menu-toggle span:nth-of-type(3) {
  opacity: 0;
  background: #000000;
}
.menu-open .theme-menus {
  right: 0%;
  transition-timing-function: cubic-bezier(0.69, 0, 0.19, 1);
}
.menu-open .menu-toggle {
  z-index: 99999;
}
